<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome ,<%= @user.email %></h1>
    <p>
      you have successfully accepted for the post : @post.post
      Thanks for using this app
    </p>
    <p>Thanks for joining and have a great day!</p>
  </body>
</html>