<h1>Create post</h1>
  <%= form_with(model: @posts) do |form| %>
  <div>
    <%= form.label :Post %><br>
    <%= form.text_field :post,:size=>"100", placeholder: "Make an offer ", :maxlength=>"254" %>
  </div><br>
<div class="actions">
    <%= form.submit "send" %>
 </div>
 <% end %>